@import url("https://fonts.googlefonts.cn/css?family=Raleway");
@import url("https://fonts.font.im/css?family=Source+Sans+Pro");
@import url("https://fonts.font.im/css?family=Roboto");
@tailwind base;
@tailwind components;
@tailwind utilities;




html body {
    font-family: 'Raleway','Roboto','Source+Sans+Pro' ,sans-serif;
}

pre{
    @apply rounded-sm 
}
table {
    border-collapse: collapse;
    text-align: center;
  }
  th, td {
    border: .1rem solid #999;
    padding: .2em;
  
  }
  th {
    background-color: #555;
    color: white;
  }
